:root{
    --black_gray: #464646;
    --gray: #646464;
    --light_gray: #e2e2e2;
    --blue: #2828CD;
    --dark_blue: #5aaccd;
    --border: #bcbcbc;
}

body {
    margin: 0 auto;
}

.top-gnb {
    display: flex;
    height: 24px;
    background-color: var(--light_gray);
    align-items: center;
    justify-content: space-around;
}

.top-gnb .description {

}

.top-gnb .description h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.top-gnb .menu {
}
.top-gnb .menu nav ul {
    margin: 0;
    list-style:none;
}

.top-gnb .menu nav ul li {
    float: left;
    font-size: 12px;
    color: black;
    cursor:pointer;
}

.top-gnb .menu nav ul li:after {
    content : "|";
    margin-left: 5px;
    margin-right: 5px;
}

.top-gnb .menu nav ul li:last-child:after {
    content : "";
}

.container {
    min-width: 528px;
    margin: 0 auto;
    width: 50%;
}

.category {
    display: flex;
    align-items: center;
    height: 36px;
    background-color: var(--gray);
    box-shadow: 1px 1px 1px 1px var(--light_gray);
}

.category .list {
    display: flex;
    margin-left: 25px;
}

.category .list .name {
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.category .list .name:after {
    content: '|';
    color: #7d7576;
    margin-right: 15px;
    margin-left: 15px;
}

.category .list .name:last-child:after {
    content: '';
    margin-left: 15px;
}

.subject {
    margin-top: 5px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

.subject .subject-area {
    height: 100%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.subject .subject-area .ico-thai {
    background: url("/img/thai.png") no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 46px;
    height: 100%;
}

.subject .search-area {

}

.subject .search-area .search-input {
    font-size: 12px;
    padding: 3px;
    border: 3px solid var(--light_gray);
    height: 24px;
}

.subject .search-area .search-input:focus {
    border: 3px solid var(--light_gray);
    outline: none;

}

.subject .search-area .search-btn {
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    height: 24px;
    cursor: pointer;
    background-color:transparent;
    font-size: 12px;
}

.subject .subject-area h1 {
    margin: 0px 0px 0px 5px;
    font-size: 25px;
}

.search-btn-area {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: flex-end;
}

.search-btn-area .search-btn {
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    height: 24px;
    width: 64px;
    cursor: pointer;
    background-color:transparent;
    font-size: 12px;
    margin-left: 5px;
}

.filter {
    margin-top: 5px;
    border: 1px solid #e2e1d5;
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter .search-filter {
    margin: 10px 0px 10px 20px;
}

.filter .search-filter label {
    font-size: 12px;
}

.filter .search-filter .search-select {
    border: 3px solid var(--light_gray);
    height: 24px;
    font-size: 12px;
    vertical-align: middle;
}

.filter .search-area {
    margin: 0px 0px 10px 20px;
}

.filter .search-area label {
    font-size: 12px;
}

.filter .search-area .search-input {
    font-size: 12px;
    padding: 3px;
    border: 3px solid var(--light_gray);
    height: 24px;
}

.filter .search-area .search-input:focus {
    border: 3px solid var(--light_gray);
    outline: none;
}

div.myComment {
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
    padding: 5px 0px 5px 0px;
}

div.myComment .comment {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid var(--border);
}

div.myComment .comment:first-child {
    /*border-top: 1px solid var(--border);*/
}

div.myComment .comment:last-child {
    border-bottom: 0px;
}

div.myComment .comment .title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
}

div.myComment .comment .title span {
    font-weight: bold;
    margin-right: 5px;
}

div.myComment .comment .title div {
    word-break: break-all;
    cursor: pointer;
}

div.myComment .comment .title div:hover {
    text-decoration: underline;
}

div.myComment .comment .content {
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
}

div.myComment .comment .content span {
    font-weight: bold;
    margin-right: 5px;
}

div.myComment .comment .content div {
    background-color: var(--light_gray);
    word-break: break-all;
}

div.myComment .comment .createDate {
    font-size: 10px;
}

div.paging {
    display: flex;
    justify-content: center;
}

div.paging ul {
    list-style:none;
}

div.paging ul li {
    float: left;
    font-size: 12px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

div.paging ul li.active {
    background-color: var(--gray);
    color: white;
    border: 1px solid var(--gray);
}

div.paging ul li:hover:not(.active) {background-color: #ddd;}

div.paging ul li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.paging ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
