input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
     -webkit-text-fill-color: #000;
     -webkit-box-shadow: 0 0 0px 1000px #fff inset;
     box-shadow: 0 0 0px 1000px #fff inset;
     transition: background-color 5000s ease-in-out 0s;
 }

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* Text box placeholder setting */
[contenteditable=true]:empty:not(:focus):before {
    content: attr(placeholder);
    color: #9ea0ab;
    font-size: 14px;
    line-height: 1.5;
}

/*
    Button style
*/
.btn-area {
    display: flex;
    justify-content: center;
    height: 32px;
    margin-top: 8px;
    margin-bottom: 10px;

}

.between {
    display: flex;
    justify-content: space-between;
    height: 32px;
    margin-top: 8px;
    margin-bottom: 4px;
    padding-right: 20px;
    padding-left: 20px;

}


/**
    버튼 스타일
 */
.btn-area button.btn {
    border: 1px #464646 solid;
    background-color: transparent;
    font-weight: bold;
    color: #464646;
}

.btn-area button.small {
    width: 20%;
}

.btn-area button.two {
    width: 40%;
    margin-right: 10px;
}

.btn-area button.right {
    margin-right: 0px;
}

.btn-area button.four {
    width: 20%;
    margin-right: 10px;
}

.btn-area button.btn.on {
    background-color: #464646;
    color: white;
}



/*
    글자 스타일
*/
.fnt-bold {
    font-weight: bold;
}

.fnt-red {
    color: #b62713;
}

/*
    입력 스타일
*/


/*
    모달창
*/
.modal {
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal .modal-display {
    position: absolute;
    top: 40%;
    left: 15%;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .modal-display .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal .modal-display .modal-content .ipt {
    border: 1px solid #989898;
    outline: none;
    padding: 6px;
    margin-top: 5px;
    width: 67%;
}

.modal .modal-display .modal-content .ipt:focus {
    border: 2px solid #989898;
}

.modal .modal-content .modal-btn-area {
    width: 70%;
}

.modal .modal-content .modal-btn-area button {
    width: 45%
}
