body {
    margin: 0px;
    padding: 0px;
}

.container {
    padding-left: 2px;
    overflow: hidden;
}

.board-list {

}
.board-list .board {
    display: flex;
    border-bottom: 1px solid #bcbcbc;
}
.board-list .board .content {
    width: 90%;
    padding: 4px;
}
.board-list .board .content .title {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.board-list .board .content .info {
    font-size: 12px;
    color: #7c7874;
    padding-top: 4px;
}
.board-list .board .content .info div {
    float: left;
    margin-right: 2%;
}
.board-list .board .content .info div.view-count:before {
    content: '조회 ';
}
/* 댓글 정보 ( 댓글 개수) */
.board-list .board .reply {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f6;
    font-size: 8px;
    color: #b62713;
}
.more-btn {
    border-bottom: 1px solid #bcbcbc;
}
.more-btn .btn_img {
    background: url("/img/arrow-down.png") no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin:0 auto;  /*중앙정렬*/
}


/*paging*/
.board-paging {
    height: 32px;
    border-bottom: 2px solid #bcbcbc;
}

.board-paging .page-prev {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    float: left;
    color: #7c7874;
    font-weight: bold;
}

.board-paging .page-next {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    float: left;
    color: #7c7874;
    font-weight: bold;
}

.board-paging .page-move {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 12.5%;
    float: left;
    color: #7c7874;
    font-weight: bold;
}

.board-paging .page-number {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 62.5%;
    float: left;
}

.board-paging .page-number div {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #7c7874;
    display: inline-block;
    width: 20%;
    text-align: center;
}

.board-paging .page-number div.on {
    color: #002875;
}

/* search */
.search-area {
    display : flex;
    justify-content: center;
    align-items : center;
    margin: 5px;
}

.search-area .search-select {
    height: 32px;
    border-bottom: 1px solid #7c7874;
    border-top: 1px solid #7c7874;
    border-left: 1px solid #7c7874;
    border-right: none;
    color: #7c7874;
}

.search-area .search-input {
    height: 32px;
    width: 60%;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #7c7874;
    border-bottom: 1px solid #7c7874;
    color: #7c7874;
    padding-left: 10px;
}

.search-area .search-btn {
    height: 32px;
    width: 40px;
    border-top: 1px solid #7c7874;
    border-bottom: 1px solid #7c7874;
    border-right: 1px solid #7c7874;
    border-left: none;
    background-color:transparent;
}

.search-area .search-btn .search-ico {
    background: url("/img/search.png") no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 70%;
    height: 70%;
}


/* view */
.view {

}

.view .view-header {
    padding: 12px 12px 10px;
    border-bottom: 1px solid #bcbcbc;
}

.view .view-header .title {
    font-weight: bold;
    font-size: 15px;
}

.view .view-header .title-sub {
    display: flex;
    font-size: 12px;
    color: #7c7874;
    padding-top: 4px;
}

.view .view-header .title-sub .author {
}

.view .view-header .title-sub .author:after {
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    background-color: #7c7874;
    width: 1px;
    height: 9px;
    content: "";

}

.view .view-header .title-sub .createDate {
}

.view .view-body {
    padding: 12px 12px 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #bcbcbc;
}

.view .view-body .board-info {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
}

.view .view-body .board-info .view-count:before {
    content: "조회수";
    margin-right: 3px;
    color: #7c7874;
}

.view .view-body .board-info .view-count {
    color: #7c7874;
}

.view .view-body .board-info .view-count:after {
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    background-color: #7c7874;
    width: 1px;
    height: 9px;
    content: "";
}

.view .view-body .board-info .view-recom:before {
    content: "추천";
    margin-right: 3px;
    color: #7c7874;
}

.view .view-body .board-info .view-recom {
    color: #7c7874;
}

.view .view-body .board-info .view-recom:after {
    margin-left: 8px;
    margin-right: 8px;
    display: inline-block;
    background-color: #7c7874;
    width: 1px;
    height: 9px;
    content: "";
}

.view .view-body .board-info .view-replay-cnt:before {
    content: "댓글";
    margin-right: 3px;
    color: #7c7874;
}

.view .view-body .board-info .view-replay-cnt {
    color: #7c7874;
}

.view .view-body .board-content {
    font-size: 14px;
}

.view .view-body .board-content div {
    padding: 2px;
}

.view .view-body .board-content img{
    max-width: 100%!important;
    max-height: 100%!important;
}


/**
    상세 화면의 댓글 리스트
 */
.view .comment {

}

.view .comment .comment-info {
    display: flex;
    align-items: center;
    border-top: 2px solid #bcbcbc;
    /*border-bottom: 2px solid #bcbcbc;*/
    padding: 12px 12px 10px;
}

.view .comment .comment-info div {
    margin-right: 5px;
}

.view .comment .comment-info .comment-cnt {
    color: #b62713;
}

.view .comment .comment-info .refresh-btn {
    height: 14px;
    width: 14px;
    padding: 0px;
    border: none;
    background-color:transparent;
}

.view .comment .comment-info .refresh-btn .refresh-ico {
    background: url("/img/refresh.png") no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.view .comment .comment-form {
    padding: 12px 12px 10px;
    border-top: 2px solid #bcbcbc;
}

.view .comment .comment-form .user-info {
    display: flex;
    border-top: 1px solid #989898;
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-bottom: none;
}

.view .comment .comment-form .user-info .ipt {
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px;
}

.view .comment .comment-form .user-info .ipt:first-child {
    border-right: 1px solid #989898;
}

.view .comment .comment-form .user-info .ipt:focus {
    border: 2px solid #989898;
}

.view .comment .comment-form .comment-content {
    height: 100px;
    border: 1px solid #989898;
}

.view .comment .comment-form .comment-content textarea {
    border: 0;
    outline: none;
    resize:none;
    width: 100%;
    height: 100px;
    padding: 8px;
}

.view .comment .comment-form .comment-content textarea:focus {
    border: 2px solid #989898;
}

.view .comment .comment-form .btn-area {
    justify-content: end;
    padding: 10px;
    margin: 0px;
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
}

.view .comment .comment-list {

}

.view .comment .comment-list .comment {
    border-top: 1px solid #bcbcbc;
    padding: 12px 12px 10px;
}

.view .comment .comment-list .add {
    background-color: #F7F5FF;
    padding: 12px 12px 10px 20px;
}

.view .comment .comment-list .comment:active {
    background-color: #F7F5FF;
    transition: color 0.5s ease-in-out;
}

.view .comment .comment-list .comment div {
    padding-bottom: 4px;
}

.view .comment .comment-list .comment div.add{
    padding-top: 2px;
    padding-left: 24px;
}

.view .comment .comment-list .comment .author {
    font-size: 13px;
    font-weight: bold;
}

.view .comment .comment-list .comment .content {
    font-size: 13px;
    word-break: break-all;
}

.view .comment .comment-list .comment .createDate {
    font-size: 12px;
    color: #7c7874;
}

/* 대 댓글 */
.add-comment-form {
    border-top: 1px solid #bcbcbc;
    background-color: #F9F9F9;
    /*padding-left: 20px;*/
    /*padding-right: 15px;*/
    /*padding-bottom: 15px;*/
    /*padding-top: 10px;*/
    /*padding-top, padding-right, padding-bottom, and padding-left*/
    padding: 10px 15px 15px 15px;
}

 .add-ico {
    background: url(/img/arrow-down.png) no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    position: absolute;
}

.add-comment-form .add-user-info {
    display: flex;
    border-top: 1px solid #989898;
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-bottom: none;
    margin-left: 20px;
}

.add-comment-form .add-user-info .ipt {
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px;
}

.add-comment-form .add-user-info .ipt:first-child {
    border-right: 1px solid #989898;
}

.add-comment-form .add-user-info .ipt:focus {
    border: 2px solid #989898;
}

.add-comment-form .add-comment-conetent {
    height: 100px;
    border: 1px solid #989898;
    margin-left: 20px;
}

.add-comment-form .add-comment-conetent textarea {
    border: 0;
    outline: none;
    resize:none;
    width: 100%;
    height: 100px;
    padding: 8px;
}

.add-comment-form .add-comment-conetent textarea:focus {
    border: 2px solid #989898;
}

.add-comment-form .btn-area {
    justify-content: end;
    /*margin-left: 20px;*/
    margin: 0px 0px 0px 20px;
    padding: 10px;
    background-color: white;
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
}

/* register */
.register {

}

.register .subject {
    padding: 12px 12px 10px;
    display: flex;  /* 자식노드 정렬 */
    align-items: center;
}

.register .subject h4 {
    margin: 0;
}

.register .subject button {
    width: 75px;
    border: 1px #464646 solid;
    color: #464646;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto; /* 우측 정렬 */
    background-color: transparent;
}

.register .title {
    border-top: 1px solid #bcbcbc;
    width: 100%;
}

.register .title input.ipt {
    width: 100%;
    border: 0;
    padding: 12px 12px 10px;
    /*라인박스 높이*/
    line-height: 1.5;
}

.register .user-info {
    border-top: 1px solid #bcbcbc;
    width: 100%;
    display: flex;  /* 버튼 정렬 */
}

.register .user-info .name {
    width: 50%;
}

.register .user-info .password {
    width: 50%;
}

.register .user-info input.ipt {
    border: 0;
    padding: 12px 12px 10px;
    width: 100%;
    outline: none;
}

.register .editor-menu {
    border-top: 1px solid #bcbcbc;
    width: 100%;
    padding: 8px 12px;
    display: flex;  /* 버튼 정렬 */
}

.register .editor-menu button.btn {
    padding: 8px 12px;
    border:none;
    background-color:transparent;
}

.register .editor-menu button.btn.active {
    color: #FF0000;
}

.register .editor-menu input#img-selector {
    display: none;
}

.register .content {
    border-top: 1px solid #bcbcbc;
    width: 100%;
    border-bottom: 1px solid #bcbcbc;
}

.register .content .text-box {
    width: 100%;
    overflow: auto;
    height: 400px;
    min-height: 200px;
    box-sizing: border-box;
    padding: 12px;
    font-size: 20px;
}

/* editor */
.register .content div#editor img {
    max-width: 100%!important;
    max-height: 100%!important;
}

.register .info {
    font-size: 12px;
    height: 120px;
    background-color: #F4FFFF;
    padding-top: 20px;
}

.register .info ul {
    padding-left:20px;
    margin: 0px;

}

.register .info ul li{
    margin-bottom: 10px;
    padding-right: 10px;
    color: #464646
}






