:root{
    --black_gray: #464646;
    --gray: #646464;
    --light_gray: #e2e2e2;
    --blue: #2828CD;
    --border: #bcbcbc;
}

table.list {
    margin-top: 5px;
    table-layout: fixed;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-collapse: collapse;
    width: 720px;
}

table thead tr th {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

table thead tr th.type {
    width: 10%;
}
table thead tr th.title {
    width: 45%;
}
table thead tr th.author {
    width: 15%;
}
table thead tr th.createDate {
    width: 10%;
}
table thead tr th.view {
    width: 10%;
}
table thead tr th.likes {
    width: 10%;
}

table tbody tr {
    border-top: 1px solid var(--border);
}

table tbody tr.inform {
    background-color: #FFFFCC;
}

table tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
}

table tbody tr td.type {
    text-align: center;
}

table tbody tr.inform td.type {
    color: var(--blue);
    font-weight: bold;
}

table tbody tr td.title {
    cursor: pointer;
}

table tbody tr td.title .comment-cnt {
    display: inline-block;
    color: var(--border);
}

table tbody tr td.title .comment-cnt:before {
    content: "[";
}

table tbody tr td.title .comment-cnt:after {
    content: "]";
}

table tbody tr td.author {
}

table tbody tr td.author.isUser {
    cursor: pointer;
}

table tbody tr td.createDate {
    text-align: center;
}

table tbody tr td.view {
    text-align: center;
}

table tbody tr td.likes {
    text-align: center;
    font-weight: bold;
    color: var(--blue);
}

div.area {
    margin-top: 5px;
    display: flex;
}

div.area .search-area {
    margin: 0 auto;
}

div.area .search-area .search-select {
    border: 3px solid var(--light_gray);
    /*padding: 5px;*/
    height: 24px;
    font-size: 12px;
    vertical-align:middle;
}

div.area .search-area .search-input {
    width: 180px;
    font-size: 12px;
    padding: 5px;
    border: 3px solid var(--light_gray);
    height: 24px;
    vertical-align:middle;
}

div.area .search-area .search-input:focus {
    border: 3px solid var(--light_gray);
    outline: none;
}

div.area .search-area .search-btn {
    padding: 3px 6px 3px 6px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    background-color:transparent;
    cursor: pointer;
}

div.area .btn-area button {
    padding: 3px 6px 3px 6px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    background-color:transparent;
    cursor: pointer;
}

div.paging {
    display: flex;
    justify-content: center;
}

div.paging ul {
    list-style:none;
}

div.paging ul li {
    float: left;
    font-size: 12px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}

div.paging ul li.active {
    background-color: var(--gray);
    color: white;
    border: 1px solid var(--gray);
}

div.paging ul li:hover:not(.active) {background-color: #ddd;}

div.paging ul li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.paging ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}