:root{
    --black_gray: #464646;
    --gray: #646464;
    --light_gray: #e2e2e2;
    --blue: #2828CD;
    --border: #bcbcbc;
    --editor: #f3f3f3;
}

.div_load_image {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.modify {
    border-top: 2px solid var(--gray);
    margin-top: 20px;
}

.modify .title {
    width: 80%;
    height: 30px;
    padding: 3px 3px 0px 3px;
    display: flex;
    align-items: center;
}

.modify .title select {
    width: 15%;
    height: 24px;
    border: 1px solid var(--border);
}

.modify .title .ipt {
    width: 85%;
    height: 24px;
    border: 1px solid var(--border);
    padding-left: 5px;
}

.modify .info {
    width: 70%;
    height: 30px;
    padding: 3px 3px 3px 3px;
    display: flex;
    align-items: center;

}

.modify .info .ipt {
    width: 45%;
    height: 24px;
    border: 1px solid var(--border);
    padding-left: 5px;
}

.modify .info .ipt.name {
    margin-right: 7px;
}

.modify .info .ipt.password {

}

.modify .editor-menu {
    margin-top: 5px;
    background-color: var(--editor);
    height: 18px;
    padding: 5px;

    display: flex;
    align-items: center;
    border: 1px solid var(--border);
}

.modify .editor-menu button {
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    border: 0px;
}

.modify .editor-menu button.active {
    color: red;
}

.modify .content {
    background-color: var(--editor);
    height: 540px;
    border: 1px solid var(--border);
}

.modify .content #editor {
    height: 520px;
    background-color: white;
    padding: 10px;
    overflow: auto;
    font-size: 14px;
}

.modify .content div#editor img {
    max-width: 100%!important;
    max-height: 100%!important;
}

.modify .modify-info {
    background-color: var(--editor);
}

.modify .modify-info ul {
    padding: 20px 10px 20px 20px;
    margin: 0px;
    list-style:none;
    font-size: 12px;
}

.modify .modify-info ul li:last-child {
    margin-top: 5px;
}

.modify-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modify-btn button {
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    height: 28px;
    width: 60px;
    cursor: pointer;
    background-color:transparent;
    font-size: 12px;
}